<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="ru.otus.springFramework.dao.StudentDaoSimple" />

    <bean id="questionDao" class="ru.otus.springFramework.dao.QuestionDaoImpl" >
        <constructor-arg value="CSV/question.csv"/>
    </bean>

    <bean id="studentService" class="ru.otus.springFramework.service.StudentServiceImpl">
        <constructor-arg name="dao" ref="studentDao" />
    </bean>

    <bean id="questionService" class="ru.otus.springFramework.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao" />
    </bean>
</beans>