<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="dao.StudentDaoSimple" />
    <bean id="fileDao" class="dao.FileDaoSimple" />

    <bean id="studentService" class="service.StudentServiceImpl">
        <constructor-arg name="dao" ref="studentDao" />
    </bean>

    <bean id="fileService" class="service.FileServiceImpl">
        <constructor-arg name="fileDao" ref="fileDao" />
    </bean>
</beans>